@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&family=VT323&display=swap');

:root {
    --black: #222323;
    --white: #f0f6f0;
}

body {
    font-family: 'VT323', monospace;
    background-color: var(--black);
    color: var(--white);
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;

}

h1 {
    font-family: 'Syne Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;

}

h2 {
    font-size: 32px;
}


input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: var(--white);
    color: var(--black);
}

/* Primer menu */
.personaje-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 480px;
    font-size: 18px;
}

.personaje-usuario ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    padding: 0;
}

.personaje-usuario li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
}

.pj-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.personaje-container p {
    display: flex;
    justify-content: center;
}

.batalla-chat {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    border-radius: 4px;
    justify-content: center;
    margin-top: 0px;
}

/* Segundo menu */

.perfiles-jugadores {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.perfil-jugador {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;

}

.perfil-computadora {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
}

.perfil-jugador p,
.perfil-computadora p {
    margin: 0px;
}

.perfil-jugador img,
.perfil-computadora img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
    background-color: var(--white);
}

#segundo-menu-p {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.arma-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 342px;
    font-size: 18px;
}

.arma-usuario h2 {
    margin: 0px;
}

.arma-usuario ul {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.arma-usuario ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
}

.arma-usuario ul li p {
    display: flex;
    justify-content: center;

}

.atk-img {
    width: 128px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
}

.jugador-perfil img,
.computadora-perfil img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.batalla-chat p {
    text-align: justify;
    padding: 10px;
    font-size: 20px !important;
    margin-left: 4px;

}

.resultado {
    background:var(--white);
    color: var(--black);
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botones-juego a {
    text-decoration: none;
}

.resultado p {
    text-align: center;
}

/* Mensaje POP-UP */
.pop-up {
    background:var(--white);
    font-size: 24px;
    color: var(--black);
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* botones  */

.start-btn,
.atk-btn {
    text-align: center;
    display: inline-block;
    margin: 5px;
    padding: 10px 10px 10px 10px;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
}

#disabled {
    background-color: var(--black) !important;
}

.video-game-button:active,
.start-btn:active,
.atk-btn:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

#boton-final {
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    bottom: 5%;
    left: 0%;
}
/* rayitas animation */
.juego {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    background: linear-gradient(90deg, #f0f6f0 50%, transparent 50%), linear-gradient(90deg, #f0f6f0, transparent 50%), linear-gradient(0deg, #f0f6f0 50%, transparent 50%), linear-gradient(0deg, #f0f6f0 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
    padding: 10px;
    animation: border-dance 4s infinite linear;
    position: relative;
}

@keyframes border-dance {
    0% {
        background-position: 0 0, 100% 100%, 0 100%, 100% 0;
    }

    100% {
        background-position: 100% 0, 0 100%, 0 0, 100% 100%;
    }
}

.animacion-stop {
    animation: border-dance 4000s infinite linear;
}

/* oscuro  */

.darken {
    width: 100%;
    height: calc(100%);
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.inactive {
    display: none;
}

/* Responsive */
@media (max-width: 819px) {
    body {
        justify-content: flex-start;
    }

    h1 {
        font-size: 34px;
    }

    .perfiles-jugadores {
        width: 400px;
    }

    .arma-usuario {
        margin-top: 20px;
        height: 100%;
    }

    .arma-usuario ul {
        flex-direction: row;
        align-items: stretch;
        gap: 0px;
    }

    .segundo-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #segundo-menu-p {
        width: 400px;
    }

    .inactive {
        display: none;
    }

    .batalla-chat {
        width: 350px;
        margin-top: 20px;
    }

    .personaje-usuario {
        height: 370px;
    }

    .personaje-usuario ul {
        width: 50%;
        height: 200px;
    }

    .personaje-usuario li {
        width: 150px;
    }

    .personaje-container p {
        font-size: 14px;
    }

    .pj-img {
        height: 150px;
        width: 130px;
    }

    .vidas-computadora, .vidas-jugador {
        font-size: 14px;
    }

    .juego {
        width: 400px;
    }
}

@media (max-width: 409px) {
    body {
        justify-content: flex-start;
    }

    h1 {
        font-size: 34px;
    }

    .perfiles-jugadores {
        width: 310px;
        height: 100px;
        justify-content: space-between;
        gap: 60px;
    }

    .arma-usuario {
        margin-top: 20px;
        height: 100%;
    }

    .arma-usuario ul {
        flex-direction: row;
        align-items: stretch;
        gap: 0px;
    }

    .segundo-menu {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #segundo-menu-p {
        width: 100%;
        max-width: 310px;
    }

    .inactive {
        display: none;
    }

    .batalla-chat {
        width: 100%;
        max-width: 310px;
        margin-top: 20px;
    }

    .personaje-usuario {
        height: 370px;
    }

    .personaje-usuario ul {
        width: 100%;
        height: 200px;
        justify-content: center;
        align-content: flex-start;
    }

    .personaje-usuario li {
        width: 100px;
    }

    .personaje-container {
        height: 170px;
    }
    .personaje-container p {
        font-size: 12px;
    }

    .pj-img {
        height: 130px;
        width: 100%;
        max-width: 130px;
    }

    .atk-img {
        width: 100px;
    }

    .arma-usuario li {
        width: 100px;
    }

    .arma-usuario ul li p {
        font-size: 12px;
    }

    .juego {
        width: 310px;
    }
}

